{
  "consumes": [
    "application/json"
  ],
  "produces": [
    "application/json"
  ],
  "schemes": [
    "https"
  ],
  "swagger": "2.0",
  "info": {
    "description": "This application serves the data for the Malwarebytes Cloud system",
    "title": "Malwarebytes Cloud API",
    "termsOfService": "Internal use only",
    "contact": {
      "name": "Nebula Core",
      "email": "DL-NebulaTeamCore@malwarebytes.com"
    },
    "version": "0.0.1"
  },
  "host": "nebula.malwarebytesdev.com",
  "basePath": "/api/v1",
  "paths": {
    "/account": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account"
        ],
        "summary": "Gets the account for this user. Requires a user authentication token.",
        "operationId": "getUserAccount",
        "responses": {
          "200": {
            "description": "account",
            "schema": {
              "$ref": "#/definitions/account"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "404": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/account/invite": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "users"
        ],
        "summary": "Sends invites to the users provided. Requires a user authentication token.",
        "operationId": "inviteUsers",
        "parameters": [
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "EmailAddresses",
            "description": "Emails of users to invite",
            "name": "emails",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/account/preferences/{option_name}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account",
          "options"
        ],
        "summary": "Gets an option for the account. Requires a user authentication token.",
        "operationId": "getAccountPreferences",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "OptionName",
            "description": "The option name to lookup",
            "name": "option_name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "option",
            "schema": {
              "$ref": "#/definitions/option"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account",
          "options"
        ],
        "summary": "Creates or updates an account option. Requires a user authentication token.",
        "operationId": "putAccountPreferences",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "TableName",
            "name": "table_name",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "OptionName",
            "name": "option_name",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "OptionValue",
            "name": "option_value",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "option",
            "schema": {
              "$ref": "#/definitions/option"
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/responses/httpError"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/responses/httpError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/responses/httpError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account"
        ],
        "summary": "Creates or updates an account option. Requires a user authentication token.",
        "operationId": "deleteAccountPreferences",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "The ID to use to find record if it exists",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "OptionName",
            "name": "option_name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "option",
            "schema": {
              "$ref": "#/definitions/option"
            }
          },
          "400": {
            "description": "Bad Request",
            "$ref": "#/responses/httpError"
          },
          "401": {
            "description": "Unauthorized",
            "$ref": "#/responses/httpError"
          },
          "500": {
            "description": "Internal Server Error",
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/account/saml": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Gets the SAML details of the current account. Requires a user authentication token.",
        "operationId": "account",
        "responses": {
          "200": {
            "description": "accountSamlDetails",
            "schema": {
              "$ref": "#/definitions/accountSamlDetails"
            }
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/account/saml/idp/metadata": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Retrieves the users current IDP Metadata. Requires a user authentication token.",
        "operationId": "account",
        "responses": {
          "200": {
            "description": "accountSamlDetails",
            "schema": {
              "$ref": "#/definitions/accountSamlDetails"
            }
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Requires a user authentication token.",
        "operationId": "account",
        "responses": {
          "201": {
            "description": "accountSamlDetails",
            "schema": {
              "$ref": "#/definitions/accountSamlDetails"
            }
          },
          "204": {
            "$ref": "#/responses/nil"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Takes in a Metadata file to create or update the Identity Provider.",
        "operationId": "account",
        "responses": {
          "201": {
            "description": "accountSamlDetails",
            "schema": {
              "$ref": "#/definitions/accountSamlDetails"
            }
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Requires a user authentication token.",
        "operationId": "account",
        "responses": {
          "204": {
            "$ref": "#/responses/nil"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/account/saml/settings": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account"
        ],
        "summary": "Searches for SSO User Profile and updates it if exists. Requires a user authentication token.",
        "operationId": "samlSettings",
        "parameters": [
          {
            "type": "boolean",
            "x-go-name": "Enabled",
            "name": "enabled",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "StrictMode",
            "name": "strict_mode",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "JITProvisioning",
            "name": "jit_provisioning",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "ServiceProviderInitiated",
            "name": "service_provider_initiated",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "accountSamlDetails",
            "schema": {
              "$ref": "#/definitions/accountSamlDetails"
            }
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "404": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/account/saml/sp/metadata": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Gets the SP Metadata of the current account. Requires a user authentication token.",
        "operationId": "account",
        "responses": {
          "400": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/accounts/": {
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account"
        ],
        "summary": "Updates the account for the current user. Requires a user authentication token.",
        "operationId": "updateUserAccount",
        "parameters": [
          {
            "x-go-name": "DisplayName",
            "description": "New display name for the account",
            "name": "name",
            "in": "body",
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "account",
            "schema": {
              "$ref": "#/definitions/account"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "404": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/accounts/:account_id/executive-report": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "report",
          "user"
        ],
        "summary": "Returns report URL. Requires private API authentication token.",
        "operationId": "generateReports",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "AccountID",
            "description": "Account ID to retrieves",
            "name": "account_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "ReportPeriodStart",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "ReportPeriodEnd",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {},
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/api/v1/account/ad/machines": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Updates the AD Machine Group map. User authentication token required. Must be DND tool",
        "tags": [
          "account",
          "machines",
          "adsync"
        ],
        "operationId": "updateAdMap",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "MachineObjectID",
            "name": "machine_object_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "OUObjectID",
            "name": "ou_object_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/changepassword": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "auth",
          "password"
        ],
        "summary": "Changes the current user's password. Requires a user authentication token.",
        "operationId": "changePassword",
        "parameters": [
          {
            "type": "string",
            "format": "password",
            "x-go-name": "OldPassword",
            "description": "User's existing password",
            "name": "password",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "password",
            "x-go-name": "NewPassword",
            "description": "User's new password",
            "name": "new_password",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/completechangepassword": {
      "post": {
        "description": "Completes a password change request",
        "tags": [
          "auth",
          "password"
        ],
        "operationId": "completeChangePassword",
        "parameters": [
          {
            "type": "string",
            "format": "password",
            "x-go-name": "Password",
            "description": "New password",
            "name": "password",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Token",
            "description": "Password change token",
            "name": "token",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/impersonation": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Logs in as the user identified in the token if the token is still valid and\nthe user matches the email provided. Requires an impersonation token",
        "tags": [
          "auth"
        ],
        "operationId": "impersonationLogin",
        "parameters": [
          {
            "type": "string",
            "format": "email",
            "x-go-name": "Email",
            "description": "Email address of user to login",
            "name": "email",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "login",
            "schema": {
              "$ref": "#/definitions/login"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/initiate": {
      "post": {
        "description": "Either continues the login process or redirects to a SAML IDP",
        "tags": [
          "auth"
        ],
        "operationId": "authInitiate",
        "parameters": [
          {
            "type": "string",
            "format": "email",
            "x-go-name": "Email",
            "description": "Email address of user to login",
            "name": "email",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "uuid4",
            "x-go-name": "AccountID",
            "description": "ID of account to log the user into",
            "name": "account_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "202": {
            "$ref": "#/responses/nil"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/initpasswordchange": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Initiates a password change for the current user. Sends an email to the\ncurrent user to continue the process. Requires a user authentication token.",
        "tags": [
          "auth",
          "password"
        ],
        "operationId": "initPasswordChange",
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/initpasswordreset": {
      "post": {
        "description": "Initiates a password reset",
        "tags": [
          "auth",
          "password"
        ],
        "operationId": "initPasswordReset",
        "parameters": [
          {
            "type": "string",
            "format": "email",
            "x-go-name": "EmailAddress",
            "description": "Email address identifying user to reset password for",
            "name": "email",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/login": {
      "post": {
        "description": "Logs the user in and returns auth and refresh tokens",
        "tags": [
          "auth"
        ],
        "operationId": "login",
        "responses": {
          "200": {
            "description": "login",
            "schema": {
              "$ref": "#/definitions/login"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/otp/setup": {
      "post": {
        "description": "Confirms OTP setup",
        "tags": [
          "auth",
          "otp"
        ],
        "operationId": "confirmOtpSetup",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "OTP",
            "description": "OTP data",
            "name": "otp",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "OTPType",
            "name": "otp_type",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/otp/verify": {
      "post": {
        "description": "Verifies the OTP code",
        "tags": [
          "auth",
          "otp",
          "verifyOtp"
        ],
        "operationId": "verify",
        "responses": {
          "200": {
            "description": "apiTokens",
            "schema": {
              "$ref": "#/definitions/apiTokens"
            }
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/refreshmachine": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "auth"
        ],
        "summary": "Refreshes the current machine's auth tokens. Requires a machine refresh token.",
        "operationId": "refreshMachine",
        "responses": {
          "200": {
            "description": "apiTokens",
            "schema": {
              "$ref": "#/definitions/apiTokens"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/refreshuser": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Refreshes the current user's auth tokens. Requires a user refresh token",
        "tags": [
          "auth"
        ],
        "operationId": "refreshUser",
        "responses": {
          "200": {
            "description": "apiTokens",
            "schema": {
              "$ref": "#/definitions/apiTokens"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/support_login": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Requires a support token",
        "tags": [
          "auth"
        ],
        "summary": "Logs in as a temporary support user with read-only access to the specified account.",
        "operationId": "supportLogin",
        "responses": {
          "200": {
            "description": "login",
            "schema": {
              "$ref": "#/definitions/login"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/validate/machine": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Validate user token",
        "tags": [
          "auth",
          "validate"
        ],
        "operationId": "validateMachineToken",
        "responses": {
          "200": {
            "description": "validateMachineAuthToken",
            "schema": {
              "$ref": "#/definitions/validateMachineAuthToken"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/auth/validate/user": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "Validate user token",
        "tags": [
          "auth",
          "validate"
        ],
        "operationId": "validateUserToken",
        "responses": {
          "200": {
            "description": "validateUserAuthToken",
            "schema": {
              "$ref": "#/definitions/validateUserAuthToken"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/dashboard/jobs_summary": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "dashboard",
          "jobs"
        ],
        "summary": "Gets the jobs summary for the dashboard. Requires a user authentication token.",
        "operationId": "jobsSummary",
        "responses": {
          "200": {
            "description": "jobDashboardSummary",
            "schema": {
              "$ref": "#/definitions/jobDashboardSummary"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/endpoint_counts": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "accounts",
          "dashboard"
        ],
        "summary": "Provides endpoint counts for the past 72 hours. Requires a user authentication token.",
        "operationId": "endpointCount",
        "responses": {
          "200": {
            "description": "dashboardCounts",
            "schema": {
              "$ref": "#/definitions/dashboardCounts"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/events": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "events"
        ],
        "summary": "Search for events matching the given parameters. Requires a user authentication token.",
        "operationId": "eventSearch",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Start",
            "description": "Time to start query",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "End",
            "description": "Time to stop query",
            "name": "end",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Identifier of the machine to search for events on",
            "name": "machine_id",
            "in": "query"
          },
          {
            "enum": [
              1,
              " 2",
              " 3",
              " 4",
              " 5",
              " 6"
            ],
            "type": "integer",
            "format": "int64",
            "x-go-name": "Source",
            "description": "Which source to get events for",
            "name": "source",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "SeverityFlags",
            "description": "Severity flags for the events\nbitflag: 1, 2, 4, 8",
            "name": "severity_flags",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SearchString",
            "description": "Search string for the events",
            "name": "search_string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "eventCollectionPresenter",
            "schema": {
              "$ref": "#/definitions/eventCollectionPresenter"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/events/{event_id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Gets a specific event. Requires a user authentication token.",
        "operationId": "eventID",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "ID",
            "name": "event_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "event",
            "schema": {
              "$ref": "#/definitions/event"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/events_summary": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "events"
        ],
        "summary": "Returns the summary of event counts. Requires a user authentication token.",
        "operationId": "eventsSummary",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Start",
            "description": "Time to start query",
            "name": "start",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "End",
            "description": "Time to stop query",
            "name": "end",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "int64",
            "x-go-name": "Interval",
            "description": "Time interval",
            "name": "interval",
            "in": "query",
            "required": true
          },
          {
            "pattern": "(day|hour)",
            "type": "string",
            "x-go-name": "Precision",
            "description": "Precision",
            "name": "precision",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "eventTimeSeries",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/eventTimeSeries"
              }
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/exclusion/exists": {
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Checks if an exclusion exists for the current account. Requires a user authentication token.",
        "operationId": "exclusions",
        "responses": {
          "200": {
            "description": "exclusion",
            "schema": {
              "$ref": "#/definitions/exclusion"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/exclusions": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "exclusions"
        ],
        "summary": "Gets the exclusions for the account. Requires a user authentication token.",
        "operationId": "getExclusions",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "x-go-name": "TypeFilter",
            "name": "type",
            "in": "query"
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "x-go-name": "Policies",
            "name": "policy_ids",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortBy",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortOrder",
            "name": "sort_order",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Search",
            "name": "search_string",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "exclusion",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/exclusion"
              }
            }
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "exclusions"
        ],
        "summary": "Creates a new exclusion. Requires a user authentication token.",
        "operationId": "createExclusion",
        "parameters": [
          {
            "type": "boolean",
            "x-go-name": "Exploit",
            "name": "exploit_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Malware",
            "name": "malware_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Ransomware",
            "name": "ransomware_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Website",
            "name": "website_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SuspiciousActivity",
            "name": "suspicious_activity",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Value",
            "description": "Value of exclusion",
            "name": "value",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              13
            ],
            "type": "integer",
            "format": "int64",
            "x-go-name": "Type",
            "description": "Type of exclusion\n\nA value of:\n1: Exclusion for file path\n2: Exclusion for folder path\n3: Exclusion for wildcard path\n4: Exclusion for registry\n5: Exclusion for file extensions\n6: Exclusion for web domain\n7: Exclusion for web IP\n13: Exclusion for has",
            "name": "type",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "x-go-name": "Enabled",
            "description": "True if exclusion is enabled\n\nRequired doesn't appear to work with booleans\nbecause it rejects if you set the value to false",
            "name": "enabled",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Comment",
            "name": "comment",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "AccountLevel",
            "name": "account_level",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "PolicyIDs",
            "name": "policy_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "exclusion",
            "schema": {
              "$ref": "#/definitions/exclusion"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "exclusions"
        ],
        "summary": "Deletes the given exclusions. Requires a user authentication token.",
        "operationId": "deleteExclusions",
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/exclusions/{exclusion_id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "exclusions"
        ],
        "summary": "Gets the given exclusion. Requires a user authentication token.",
        "operationId": "getExclusion",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "ExclusionID",
            "description": "Exclusion ID to retrieves",
            "name": "exclusion_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "exclusion",
            "schema": {
              "$ref": "#/definitions/exclusion"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "exclusions"
        ],
        "summary": "Updates the given exclusion. Requires a user authentication token.",
        "operationId": "updateExclusion",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "ExclusionID",
            "description": "Exclusion ID to retrieves",
            "name": "exclusion_id",
            "in": "path",
            "required": true
          },
          {
            "type": "boolean",
            "x-go-name": "Exploit",
            "name": "exploit_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Malware",
            "name": "malware_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Ransomware",
            "name": "ransomware_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "Website",
            "name": "website_protection",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SuspiciousActivity",
            "name": "suspicious_activity",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Value",
            "description": "Value of exclusion",
            "name": "value",
            "in": "query",
            "required": true
          },
          {
            "enum": [
              1,
              2,
              3,
              4,
              5,
              6,
              7,
              13
            ],
            "type": "integer",
            "format": "int64",
            "x-go-name": "Type",
            "description": "Type of exclusion\n\nA value of:\n1: Exclusion for file path\n2: Exclusion for folder path\n3: Exclusion for wildcard path\n4: Exclusion for registry\n5: Exclusion for file extensions\n6: Exclusion for web domain\n7: Exclusion for web IP\n13: Exclusion for has",
            "name": "type",
            "in": "query",
            "required": true
          },
          {
            "type": "boolean",
            "x-go-name": "Enabled",
            "description": "True if exclusion is enabled\n\nRequired doesn't appear to work with booleans\nbecause it rejects if you set the value to false",
            "name": "enabled",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Comment",
            "name": "comment",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "AccountLevel",
            "name": "account_level",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "PolicyIDs",
            "name": "policy_ids",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Etag",
            "description": "Exclusion Etag",
            "name": "etag",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "exclusion",
            "schema": {
              "$ref": "#/definitions/exclusion"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "exclusions"
        ],
        "summary": "Deletes the given exclusion. Requires a user authentication token.",
        "operationId": "deleteExclusion",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "ExclusionID",
            "description": "Exclusion ID to retrieves",
            "name": "exclusion_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/generate_reports": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "report",
          "user"
        ],
        "summary": "Returns report URL. Requires private API authentication token.",
        "operationId": "generateReports",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "AccountID",
            "description": "Account ID to retrieves",
            "name": "account_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "ReportPeriodStart",
            "name": "start",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "ReportPeriodEnd",
            "name": "end",
            "in": "query"
          }
        ],
        "responses": {
          "200": {},
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/generate_reports/:report_id": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "report",
          "user"
        ],
        "summary": "Generates a report. Requires a user authentication token.",
        "operationId": "generateReport",
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/groups": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Gets the groups for the current account. Requires a user authentication token.",
        "operationId": "getGroups",
        "responses": {
          "200": {
            "description": "group",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/group"
              }
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Creates a new group with the given parameters. Requires a user authentication token.",
        "operationId": "createGroup",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Name of group",
            "name": "name",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "PolicyID",
            "description": "ID of the policy for this group",
            "name": "policy_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ParentID",
            "description": "ID of the group's parent group",
            "name": "parent_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "OUObjectID",
            "description": "ActiveDirectory Object ID: must be DND",
            "name": "ou_object_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "group",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/groups/{group_id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Gets the given group. Requires a user authentication token.",
        "operationId": "getGroup",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Group ID to retrieves",
            "name": "group_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "group",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Updates the given group. Requires a user authentication token.",
        "operationId": "updateGroup",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Group ID to retrieves",
            "name": "group_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Name of group",
            "name": "name",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "PolicyID",
            "description": "ID of the policy for this group",
            "name": "policy_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ParentID",
            "description": "ID of the group's parent group",
            "name": "parent_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "OUObjectID",
            "description": "ActiveDirectory Object ID: must be DND or admin",
            "name": "ou_object_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "group",
            "schema": {
              "$ref": "#/definitions/group"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Deletes the given group. Requires a user authentication token.",
        "operationId": "deleteGroup",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Group ID to retrieves",
            "name": "group_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/groups/{group_id}/assign": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Assign machines to the target group. Requires a user authentication token.",
        "operationId": "assignGroupToGroup",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "enum": [
              "MachineFilterTypeAll",
              " MachineFilterTypeOnline",
              " MachineFilterTypeOffline",
              " MachineFilterTypeOfflineOver7Days",
              " MachineFilterTypeOutdated"
            ],
            "type": "string",
            "format": "string",
            "x-go-name": "FilterType",
            "description": "Filter by machine status",
            "name": "filter_type",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortBy",
            "description": "Field to sort by",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SortASC",
            "description": "True to sort ascending",
            "name": "asc",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Return machines in the given group",
            "name": "group_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Search",
            "description": "Return machines matching the given search query",
            "name": "search_string",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint32",
            "x-go-name": "StatusFilter",
            "description": "Returns machines matching the status filter",
            "name": "status_filter",
            "in": "query"
          },
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "TargetGroupID",
            "description": "Group ID to assign to",
            "name": "target_group_id",
            "in": "path",
            "required": true
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "MachineIDs",
            "description": "Machines to add to the group",
            "name": "machine_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/groups/{group_id}/schedules": {
      "put": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "groups"
        ],
        "summary": "Updates schedules associated with this group. Requires a user authentication token.",
        "operationId": "updateGroupSchedule",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Group ID to retrieves",
            "name": "group_id",
            "in": "path",
            "required": true
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "ScheduleIDs",
            "description": "Schedule IDs to assign",
            "name": "schedule_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/health": {
      "get": {
        "description": "Health check that responds with {\\\"component\\\":\\\"boolean\\\"}",
        "tags": [
          "health"
        ],
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "healthCheck",
            "schema": {
              "$ref": "#/definitions/healthCheck"
            }
          },
          "503": {
            "description": "healthCheck",
            "schema": {
              "$ref": "#/definitions/healthCheck"
            }
          }
        }
      }
    },
    "/health/check": {
      "get": {
        "description": "Health check",
        "tags": [
          "health"
        ],
        "operationId": "healthCheck",
        "responses": {
          "200": {
            "description": "healthCheck",
            "schema": {
              "$ref": "#/definitions/healthCheck"
            }
          }
        }
      }
    },
    "/health/check/{service_name}": {
      "get": {
        "description": "Service specific health check",
        "tags": [
          "health",
          "service"
        ],
        "operationId": "healthCheckService",
        "parameters": [
          {
            "type": "string",
            "description": "Name of service to check",
            "name": "ServiceName",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "healthCheck",
            "schema": {
              "$ref": "#/definitions/healthCheck"
            }
          },
          "404": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/health/ping": {
      "get": {
        "description": "Health check that responds with {\\\"pong\\\":\\\"pong\\\"}",
        "tags": [
          "health"
        ],
        "operationId": "healthPing",
        "responses": {
          "200": {
            "description": "ping",
            "schema": {
              "$ref": "#/definitions/ping"
            }
          }
        }
      }
    },
    "/installer/{:key}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account",
          "installers"
        ],
        "summary": "Gets the given custom installer for the account. Requires a user authentication token.",
        "operationId": "getInstaller",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "Key",
            "description": "Key to retrieve",
            "name": "key",
            "in": "query",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "url",
            "schema": {
              "$ref": "#/definitions/url"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/installer_status": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account",
          "installers"
        ],
        "summary": "Gets the status of the custom installers for the account. Requires a user authentication token.",
        "operationId": "getInstallerStatus",
        "responses": {
          "200": {
            "description": "installer",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/installer"
              }
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/installers": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "account",
          "installers"
        ],
        "summary": "Gets the status of the custom installers for the account. Requires a user authentication token.",
        "operationId": "getInstallerStatus",
        "responses": {
          "200": {
            "$ref": "#/responses/DeprecatedAccountInstallerCollection"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/jobs": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "jobs"
        ],
        "summary": "Searches for jobs matching the given parameters. Requires a user authentication token.",
        "operationId": "jobSearch",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SearchString",
            "description": "String to match jobs against",
            "name": "search_string",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "int32",
            "x-go-name": "JobStatuses",
            "description": "Bitflag representing what statuses to search for\nbitflag: 1, 2, 4, 8, 16, 32, 64, 128",
            "name": "job_statuses",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Group to match jobs against",
            "name": "group_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine to match jobs against",
            "name": "machine_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "jobCollectionPresenter",
            "schema": {
              "$ref": "#/definitions/jobCollectionPresenter"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "jobs"
        ],
        "summary": "Issues a job to the specified machines. Requires a user authentication token.",
        "operationId": "issueJob",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "enum": [
              "MachineFilterTypeAll",
              " MachineFilterTypeOnline",
              " MachineFilterTypeOffline",
              " MachineFilterTypeOfflineOver7Days",
              " MachineFilterTypeOutdated"
            ],
            "type": "string",
            "format": "string",
            "x-go-name": "FilterType",
            "description": "Filter by machine status",
            "name": "filter_type",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortBy",
            "description": "Field to sort by",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SortASC",
            "description": "True to sort ascending",
            "name": "asc",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Return machines in the given group",
            "name": "group_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Search",
            "description": "Return machines matching the given search query",
            "name": "search_string",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint32",
            "x-go-name": "StatusFilter",
            "description": "Returns machines matching the status filter",
            "name": "status_filter",
            "in": "query"
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "MachineIDs",
            "description": "IDs of machines to issue a job to",
            "name": "machine_ids",
            "in": "query"
          },
          {
            "enum": [
              "\"command.policy.refresh\"",
              " \"command.threat.scan\"",
              " \"command.threat.quarantine.restore\"",
              " \"command.threat.quarantine.remove\"",
              " \"command.asset.reboot\"",
              " \"command.asset.refresh\"",
              " \"command.service.restart\"",
              " \"command.service.diag\""
            ],
            "type": "string",
            "x-go-name": "Command",
            "description": "Command to issue to the machines",
            "name": "command",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "RelayState",
            "description": "Relay State",
            "name": "relay_state",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Data",
            "description": "Data for the command",
            "name": "data",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/jobs/{job_id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "jobs"
        ],
        "summary": "Gets job matching the given parameters. Requires a user authentication token.",
        "operationId": "jobID",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "JobID",
            "description": "Job ID to retrieves",
            "name": "job_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "job",
            "schema": {
              "$ref": "#/definitions/job"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/jobs_summary": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "jobs"
        ],
        "summary": "Gets the job summary (breakdown of counts). Requires a user authentication token.",
        "operationId": "jobSummary",
        "responses": {
          "200": {
            "description": "jobSummary",
            "schema": {
              "$ref": "#/definitions/jobSummary"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine": {
      "post": {
        "description": "Registers a new machine. Intended to be called by the endpoint agent only",
        "tags": [
          "machines",
          "endpoint"
        ],
        "operationId": "registerMachine",
        "parameters": [
          {
            "type": "string",
            "x-go-name": "AccountToken",
            "description": "AccountToken to identify the account this should be registered with",
            "name": "account_token",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "UUID",
            "description": "Machine specific identifier generated by the agent. Used for deduplication",
            "name": "uuid",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Name of the machine",
            "name": "name",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ID",
            "description": "Machine ID from Nebula, if available. Used for deduplication",
            "name": "id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "MachineObjectID",
            "description": "MachineObjectID Active Directory id to search with",
            "name": "machine_object_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "RequestedGroupID",
            "description": "RequestedGroupID is the group id that the agent requested",
            "name": "requested_group_id",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "machineRegister",
            "schema": {
              "$ref": "#/definitions/machineRegister"
            }
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines",
          "endpoint"
        ],
        "summary": "Unregisters an existing machine. Intended to be called by the endpoint agent on uninstallation. Requires a machine authentication token.",
        "operationId": "unregisterMachine",
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/exclusions": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "summary": "Gets the exclusions for the given machine. Requires a machine authentication token.",
        "operationId": "exclusions",
        "responses": {
          "200": {
            "$ref": "#/responses/machineExclusions"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/isolation_image/:object_key": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "policies"
        ],
        "operationId": "getMachineIsolationImage",
        "responses": {
          "200": {
            "$ref": "#/responses/urlPresenter"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "404": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/policy": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "policies"
        ],
        "summary": "Gets the policy for the current machine. Requires a machine authentication token.",
        "operationId": "getMachinePolicy",
        "responses": {
          "200": {
            "description": "policy",
            "schema": {
              "$ref": "#/definitions/policy"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/results": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines",
          "endpoint"
        ],
        "summary": "Handles endpoint result posting for various data. Requires a machine authentication token.",
        "operationId": "postResults",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "JobID",
            "description": "The ID of the job (if any) that resulted in this",
            "name": "job_id",
            "in": "query"
          },
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "ScheduleID",
            "description": "The ID of the schedule (if any) that resulted in this",
            "name": "schedule_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ScheduleEtag",
            "description": "The ETag of the schedule (if any) that resulted in this",
            "name": "schedule_etag",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "StartedAtLocal",
            "description": "When the scan started.",
            "name": "started_at_local",
            "in": "query",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint32",
            "x-go-name": "DurationSeconds",
            "description": "How long the scan took, in seconds.",
            "name": "duration_seconds",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "ResultType",
            "description": "The type of result this is\nAllowed Values:\nBOOMERANG_EVENT\nTHREAT_SCAN_RESULT\nQUARANTINE_LIST\nQUARANTINE_DELETE\nQUARANTINE_RESTORE\nASSET_INFORMATION\nAGENT_INFORMATION",
            "name": "type",
            "in": "query",
            "required": true
          },
          {
            "type": "string",
            "x-go-name": "Data",
            "description": "The additional data for this result\nMust be formated as embedded JSON",
            "name": "data",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/schedule": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "schedules"
        ],
        "summary": "Gets schedules for the current machine. Requires a machine authentication token.",
        "operationId": "getMachineSchedules",
        "responses": {
          "200": {
            "description": "schedule",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/schedule"
              }
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/sync": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines",
          "endpoint"
        ],
        "summary": "Gets jobs and updates etags for the endpoints. Requires a machine authentication token.",
        "operationId": "machineSync",
        "responses": {
          "200": {
            "description": "sync",
            "schema": {
              "$ref": "#/definitions/sync"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/threat_scan_results": {
      "post": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "(Deprecated)\nOld API to report scan results. Requires a machine authentication token.",
        "tags": [
          "machines",
          "endpoint"
        ],
        "operationId": "postThreatResults",
        "parameters": [
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "StartedAtLocal",
            "description": "When the scan started.",
            "name": "started_at_local",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint32",
            "x-go-name": "DurationSeconds",
            "description": "How long the scan took, in seconds.",
            "name": "duration_seconds",
            "in": "query"
          },
          {
            "enum": [
              "full",
              " quick",
              " custom",
              " hyper",
              " threat"
            ],
            "type": "string",
            "x-go-name": "ScanType",
            "description": "The type of scan the was done (e.g.: full, quick, custom, etc.)",
            "name": "scan_type",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "$ref": "#/definitions/ThreatTrace"
            },
            "x-go-name": "Traces",
            "description": "Traces found by this scan, if any.",
            "name": "traces",
            "in": "query"
          },
          {
            "type": "array",
            "items": {
              "type": "string"
            },
            "x-go-name": "Errors",
            "description": "Errors that occurred during the scan, if any.",
            "name": "errors",
            "in": "query"
          },
          {
            "type": "object",
            "x-go-name": "Metadata",
            "description": "Metadata contains additional information about the malware scan",
            "name": "metadata",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/{machine_id}": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Gets the given machine details. Requires a user authentication token.",
        "operationId": "getMachine",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine ID to retrieve",
            "name": "machine_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "machine",
            "schema": {
              "$ref": "#/definitions/machine"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machine/{machine_id}/remediation": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machineRemediation"
        ],
        "summary": "Gets the given machine details. Requires a user authentication token.",
        "operationId": "getMachineRemediationList",
        "responses": {
          "200": {
            "description": "machineRemediation",
            "schema": {
              "$ref": "#/definitions/machineRemediation"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machines": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Search for machines that match the criteria. Requires a user authentication token.",
        "operationId": "machineSearch",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "enum": [
              "MachineFilterTypeAll",
              " MachineFilterTypeOnline",
              " MachineFilterTypeOffline",
              " MachineFilterTypeOfflineOver7Days",
              " MachineFilterTypeOutdated"
            ],
            "type": "string",
            "format": "string",
            "x-go-name": "FilterType",
            "description": "Filter by machine status",
            "name": "filter_type",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortBy",
            "description": "Field to sort by",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SortASC",
            "description": "True to sort ascending",
            "name": "asc",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Return machines in the given group",
            "name": "group_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Search",
            "description": "Return machines matching the given search query",
            "name": "search_string",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint32",
            "x-go-name": "StatusFilter",
            "description": "Returns machines matching the status filter",
            "name": "status_filter",
            "in": "query"
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "x-go-name": "MachineIDs",
            "description": "List of machine ids to limit the search to",
            "name": "machine_ids",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "machineCollectionPresenter",
            "schema": {
              "$ref": "#/definitions/machineCollectionPresenter"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      },
      "delete": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "description": "handles requests to have machines uninstall the software",
        "tags": [
          "machines"
        ],
        "operationId": "removeMachine",
        "parameters": [
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "enum": [
              "MachineFilterTypeAll",
              " MachineFilterTypeOnline",
              " MachineFilterTypeOffline",
              " MachineFilterTypeOfflineOver7Days",
              " MachineFilterTypeOutdated"
            ],
            "type": "string",
            "format": "string",
            "x-go-name": "FilterType",
            "description": "Filter by machine status",
            "name": "filter_type",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "SortBy",
            "description": "Field to sort by",
            "name": "sort_by",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "SortASC",
            "description": "True to sort ascending",
            "name": "asc",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "GroupID",
            "description": "Return machines in the given group",
            "name": "group_id",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Search",
            "description": "Return machines matching the given search query",
            "name": "search_string",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint32",
            "x-go-name": "StatusFilter",
            "description": "Returns machines matching the status filter",
            "name": "status_filter",
            "in": "query"
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "x-go-name": "MachineIDs",
            "description": "Machine IDs to unregister",
            "name": "machine_ids",
            "in": "query"
          },
          {
            "type": "boolean",
            "x-go-name": "UnregisterIsolated",
            "name": "unregister_isolated",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "$ref": "#/responses/nil"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machines/{machine_id}/agent_info": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Gets agent information for the given machine. Requires a user authentication token.",
        "operationId": "getAgentInfo",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine ID to retrieve",
            "name": "machine_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "agentInfo",
            "schema": {
              "$ref": "#/definitions/agentInfo"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machines/{machine_id}/asset_info": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Gets asset information for the given machine. Requires a user authentication token.",
        "operationId": "getAssetInfo",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine ID to retrieve",
            "name": "machine_id",
            "in": "path",
            "required": true
          }
        ],
        "responses": {
          "200": {
            "description": "assetInfo",
            "schema": {
              "$ref": "#/definitions/assetInfo"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machines/{machine_id}/quarantine": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Gets threat traces for the given machine. Requires a user authentication token.",
        "operationId": "getMachineQuarantine",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine ID to retrieve",
            "name": "machine_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "x-go-name": "Category",
            "description": "Category is an optional parameter that is a comma separated list of category names\npossible values are: pup, pum, malware",
            "name": "category",
            "in": "query"
          },
          {
            "$ref": "#/definitions/CommaSeparatedString",
            "x-go-name": "Type",
            "description": "Type is an optional parameter that is a comma separated list of threat type names",
            "name": "type",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "Name",
            "description": "Name is an optional parameter of threat name to match against",
            "name": "name",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "quarantinedThreatCollectionPresenter",
            "schema": {
              "$ref": "#/definitions/quarantinedThreatCollectionPresenter"
            }
          },
          "400": {
            "$ref": "#/responses/httpError"
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machines/{machine_id}/threat_scan_results": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Gets threat scan results for the given machine. Requires a user authentication token.",
        "operationId": "getThreatScanResults",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine ID to retrieve",
            "name": "machine_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "PageSize",
            "description": "Number of results to return",
            "name": "page_size",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Since",
            "description": "Time to start query",
            "name": "since",
            "in": "query"
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "Until",
            "description": "Time to stop query",
            "name": "until",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ThreatsDetected",
            "description": "Optional parameter to filter out scan results based on whether threats were found. If omited defaults to returning all.\nAllowed Values:\n\"true\"\n\"false\"",
            "name": "threats_detected",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "threatScanResult",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/threatScanResult"
              }
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machines/{machine_id}/threat_scan_summary": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Gets the summary of machine threats for the given machine. Requires a user authentication token.",
        "operationId": "getThreatScanResultSummary",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine ID to retrieve",
            "name": "machine_id",
            "in": "path",
            "required": true
          },
          {
            "type": "string",
            "format": "date-time",
            "x-go-name": "StartAt",
            "description": "Time to start query",
            "name": "start_at",
            "in": "query"
          },
          {
            "type": "string",
            "x-go-name": "ThreatsDetected",
            "description": "Optional parameter to filter out scan results based on whether threats were found. If omited defaults to returning all.\nAllowed Values:\n\"true\"\n\"false\"",
            "name": "threats_detected",
            "in": "query"
          }
        ],
        "responses": {
          "200": {
            "description": "threatScanSummary",
            "schema": {
              "$ref": "#/definitions/threatScanSummary"
            }
          },
          "401": {
            "$ref": "#/responses/httpError"
          },
          "500": {
            "$ref": "#/responses/httpError"
          }
        }
      }
    },
    "/machines/{machine_id}/threats": {
      "get": {
        "security": [
          {
            "Bearer": []
          }
        ],
        "tags": [
          "machines"
        ],
        "summary": "Gets threat traces for the given machine. Requires a user authentication token.",
        "operationId": "getThreatsForMachine",
        "parameters": [
          {
            "maxLength": 64,
            "type": "string",
            "x-go-name": "MachineID",
            "description": "Machine ID to retrieve",
            "name": "machine_id",
            "in": "path",
            "required": true
          },
          {
            "type": "integer",
            "format": "uint64",
            "x-go-name": "StartIndex",
            "description": "Index to start paging from",
            "name": "start_index",
            "in": "query"
          },
          {
            "type": "integer",
            "format": "uint64",
[...]
